/* @font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 100;
	src:local(''),
		url('/fonts/Raleway/Raleway-Thin.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 200;
	src:local(''),
		url('/fonts/Raleway/Raleway-ExtraLight.woff') format('woff'),
		url('/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 300;
	src:local(''),
		url('/fonts/Raleway/Raleway-Light.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:local(''),
		url('/fonts/Raleway/Raleway-Regular.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 500;
	src:local(''),
		url('/fonts/Raleway/Raleway-Medium.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:local(''),
		url('/fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
		url('/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:local(''),
		url('/fonts/Raleway/Raleway-Bold.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 800;
	src:local(''),
		url('/fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
		url('/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
}

@font-face {
	font-family: 'Raleway';
    font-style: normal;
	font-display: swap;
	font-weight: 900;
	src:local(''),
		url('/fonts/Raleway/Raleway-Black.woff') format('woff'),
		url('/fonts/Raleway/Raleway-Black.woff2') format('woff2'),
}

@font-face {
	font-family: 'CormorantInfant';
    font-style: normal;
	font-display: swap;
	font-weight: 300;
	src:local(''),
		url('/fonts/CormorantInfant/CormorantInfant-Light.woff') format('woff'),
		url('/fonts/CormorantInfant/CormorantInfant-Light.woff2') format('woff2'),
}

@font-face {
	font-family: 'CormorantInfant';
    font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:local(''),
		url('/fonts/CormorantInfant/CormorantInfant-Regular.woff') format('woff'),
		url('/fonts/CormorantInfant/CormorantInfant-Regular.woff2') format('woff2'),
}

@font-face {
	font-family: 'CormorantInfant';
    font-style: normal;
	font-display: swap;
	font-weight: 500;
	src:local(''),
		url('/fonts/CormorantInfant/CormorantInfant-Medium.woff') format('woff'),
		url('/fonts/CormorantInfant/CormorantInfant-Medium.woff2') format('woff2'),
}

@font-face {
	font-family: 'CormorantInfant';
    font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:local(''),
		url('/fonts/CormorantInfant/CormorantInfant-SemiBold.woff') format('woff'),
		url('/fonts/CormorantInfant/CormorantInfant-SemiBold.woff2') format('woff2'),
}

@font-face {
	font-family: 'CormorantInfant';
    font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:local(''),
		url('/fonts/CormorantInfant/CormorantInfant-Bold.woff') format('woff'),
		url('/fonts/CormorantInfant/CormorantInfant-Bold.woff2') format('woff2'),
} */